/* img rotation */

.rotation:hover {
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: rotate;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	-ms-animation-name: rotate;
	-ms-animation-duration: 1.5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-ms-animation-transform-origin: center;
}

@-webkit-keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@-ms-keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* perspective and animation of it*/

.perspective1 {
	-webkit-transform: perspective( 800px ) rotateX( -25deg );
	-ms-transform: perspective( 800px ) rotateX( -25deg );
	-moz-transform: perspective( 800px ) rotateX( -25deg );
}

.perspective2 {
	-webkit-transform: perspective( 800px ) rotateX( 25deg );
	-ms-transform: perspective( 800px ) rotateX( 25deg );
	-moz-transform: perspective( 800px ) rotateX( 25deg );
}

.perspective1:hover {
	-webkit-transform: perspective( 0px ) rotateX( 0deg );
	-ms-transform: perspective( 0px ) rotateX( 0deg );
	-moz-transform: perspective( 0px ) rotateX( 0deg );
}

.perspective2:hover {
	-webkit-transform: perspective( 0px ) rotateX( 0deg );
	-ms-transform: perspective( 0px ) rotateX( 0deg );
	-moz-transform: perspective( 0px ) rotateX( 0deg );
}

/* animación de las portadas */

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 3s;
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-5deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(-5deg);
	}
}

.no_efectos {
	animation-name: none;
	-webkit-animation-name: none;
}



/* animación de rotulos */

.resaltar {
	text-shadow: 0px 0px 5px white;
}