
/* extra-small devices 328px and global css */

#seccion-buscador,
#little-box, #titular,
#menu_categorias, #carrito,
#infoPortada,
#footer, .oculto {
  display: none;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: rgb(35, 106, 98); /* 236a62ff */
  color: white;
  font-family: Candara, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#logo {
  padding-left: 33%;
  padding-top: 5%;
  font-family: "Bradley Hand ITC", Candara, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#name {
  font-weight: bold;
}

#phrase {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
}

#icons {
  padding-top: 5%;
  padding-left: 20%;
}

#icons ul {
  width: 80px;
}

#icons ul li {
  display: inline;
  float: left;
}

#icono-menu {
  margin-left: 190px;
  margin-top: 10px;
}

#productos {
  width: 240px;
  margin: auto;
}

.item {
  margin: 5px;
  float: left;
}

/* min-width 329px to 568px (35.5em) */

@media screen and (min-width: 386px) {

  #seccion-logo {
    width: 65%;
  }

  #logo {
    padding-left: 33%;
    padding-top: 5%;
  }

  #seccion-acceso {
    width: 35%;
  }

  #icons {
    padding-top: 10%;
    padding-left: 0%;
  }

  #icono-menu {
    margin-left: 10px;
    margin-top: 85px;
  }

  #productos {
    width: 360px;
    margin: auto;
  }

}

/* small devices 568px > */

@media screen and (min-width: 35.5em) {

  a {
    text-decoration: none;
    color: white;
    font-family: Candara, Verdana, Geneva, Arial, Helvetica, sans-serif;
  }

  .centrado {
    text-align: center;
  }

  .borde {
    border: 3px dotted;
    border-radius: 1em;
  }

  #seccion-logo {
    width: 50%;
  }

  #logo {
    padding-left: 33%;
    padding-top: 5%;
  }

  #seccion-acceso {
    width: 50%;
    padding-top: 5%;
  }

  #icons {
    padding-top: 10%;
    padding-left: 0%;
  }

  #icono-menu {
    display: none;
  }

  #little-box {
    display: inline;
    text-align: center;
    width: 100px;
    height: 80px;
    float: left;
    margin-top: -40px;
    margin-left: 15px;
  }

  #little-box ul {
    padding-top: 4px;
  }

  #little-box ul li {
    line-height: 1.1em;
  }

  #container {
    margin-top: 10px;
    letter-spacing: 0;
  }

  #menu_categorias {
    display: initial;
  }

  #categorias {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #productos {
    width: 480px;
    margin: auto;
  }

}

/* small devices 768px > */

@media screen and (min-width: 48em) {

  #seccion-buscador,
  #titular, #carrito,
  #footer {
    display: initial;
  }

  li {
    font-family: Candara, Verdana, Geneva, Arial, Helvetica, sans-serif;
    list-style: none;
  }

  .black {
    color: black;
  }

  .naranja {
    color: orange;
  }

  .ancho-completo {
    width: 100%;
  }

  .resetear-espaciado-letra {
    letter-spacing: 0;
  }

  #seccion-logo {
    width: 33%;
  }

  #logo {
    padding-left: 33%;
    padding-top: 5%;
  }

  #seccion-buscador {
    width: 33%;
    padding-top: 5%;
  }

  #buscador, #store-title {
    text-align: center;
  }

  #buscador-input {
    border-color: orange;
    border-radius: 15px;
    font-family: Candara, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 5px;
    padding-left: 10px;
    margin-top: 15px;
    color: black;
  }

  #seccion-acceso {
    width: 33%;
    padding-top: 2.5%;
  }

  /* container */

  #titular h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0;
  }

  .containerNormal {
    height: 430px;
  }

  .containerAmpliado {
    height: 700px;
  }

  #menu_categorias {
    width: 25%;
  }

  #contenido {
    width: 75%;
  }

  #infoPortada {
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    background-color: rgba(255, 165, 0, 0.7);
  }

  /* detalle de producto */

  #titulo_detalle {
    margin-top: -200px;
    margin-left: 235px;
    margin-bottom: 20px;
    font-size: 1.2em;

  }

  .subtitulo_detalle {
    margin-left: 235px;
    margin-bottom: 5px;
    font-size: 1em;
  }

  .margen_izq {
    margin-left: 235px;
  }

  .resenya {
    margin-top: 80px;
    font-size: 1em
  }

  /* fin detalle de producto */

  .cuadro_texto {
    height: 370px;
  }

  .cuadro_perfil {
    height: 620px;
  }

  .little_title_gen {
    margin-top: 20px
  }

  .paragraph {
    margin-top: 20px;
    margin-right:0px;
  }

  #menu_pag_cuadro_texto {
    width: 60px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  #menu_pag_cuadro_texto ul li {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    float: left;
    text-align: center;
  }

  .centrado {
    margin-left: auto;
    margin-right: auto;
  }

  .margenSuperior {
    margin-top: 40px;
  }

  .cuadro-texto {
    border-radius: 0.8em;
    color: black;
    font-size: 1.2em;
    height: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
  }

  #infoError {
    height: 80px;
    padding-top: 10px;
  }

  .button {
    border-color: white;
    border-radius: 1em;
    font-size: 1em;
    padding-left: 0em;
    width: 100px;
    height: 25px;
    color: black;
    background-color: orange;
    font-family: Candara;
  }

  .tachado {
    text-decoration: line-through;
  }

  input:invalid {
    box-shadow: 0 0 1px 3px orange;
  }

  input:focus:invalid {
    outline: none;
  }

  #subpaneles {
    margin-top: 15px;
  }

  .margen-sup {
    margin-top: 10px;
  }

  #info,
  #mensajeCategorias,
  #mensajeProducto {
    margin-top: 30px;
    color: orange;
    font-size: 1.1em;
  }

  #mensajeProducto,
  #subpanelProductos,
  #subpanelUsuarios {
    float: right;
  }

  .izq {
    float: left;
  }

  #seleccionar {
    width: 450px;
    height: 36px;
  }

  /* end of container */

  /* footer */

  footer {
    text-align: center;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
  }

  .ancho-1-3 {
    width: 33%;
  }

}

@media screen and (min-width: 64em) {

  #buscador-input {
    width: 75%;
  }

  #menu_categorias {
    width: 25%;
  }

  #contenido {
    width: 50%;
  }

  #botonGoogle {
    width: 120px;
    margin: auto;
  }

  #carrito {
    width: 25%
  }

  #infoPortada {
    width: 50%;
  }

}